{% extends 'base.html.twig' %}

{% block title %} 
    <title>
        Update Category 
    </title>
{% endblock %}

{% block content %}

<div class="container" >
    <h1>Update Category</h1>
{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-info">Update Category</button>
{{form_end(form)}}
</div>





{% endblock %}