/* Navbar */

@media only screen and (max-width : 768px) {
  .nav-link {
    text-align: center !important;
  }
  }

  .navbar {
    opacity: 0.9;
    box-shadow: 1px 1px 5px rgb(41, 41, 41);
  }

  /* Title */
  
  h1 {
    margin-top: 80px;
  }

  #product-page {
    margin-top: 80px;
  }

  #btn-sign {
    margin-bottom: 15px;
  }

  #btn-login {
    margin-bottom: 15px;
  }

  .fas {
    font-size: 1.8rem;
    text-align: right;
  }

#add-product {
  margin-top: 80px;
}

#add-category {
  margin-top: 80px;
}

.card-img-top {
  /* width: 20rem;
  height:16rem; */
  background-size: cover;
}

footer{
  bottom: 0;
  width:100%;

}