{% extends 'base.html.twig' %}

{% block title %}
    <title>
        Shopping Cart
    </title>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="col-md-5 mx-auto">
        <div class="card mb-3" id="product-page">
            <h3 class="card-header">Shopping Cart</h3>
            <div class="card-body"> 
            </div>
            {# <img style="height: 60 px; width: 100%; display: block;" src="{{asset('uploads/images/'~product.image)}}" alt="Card image"> #}
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Product: {{product.name}}</li>
            <li class="list-group-item">Quantity: {{product.quantity}}</li>
            <li class="list-group-item">Price: {{product.price}} </li>

            </ul>

       {# {% for row in ProductLine %}
    
        <div class="container ">
                <ul class="list-group list-group-flush">
                  <li "list-group-item">{{row.product.name}}</li>
                  <li "list-group-item">{{row.quantity}}</li>
                  <li "list-group-item">{{row.price}} €</li>
                  <li "list-group-item"><a class="btn btn-info"  href="{{path("remove_productLine", {id: row.id}) }}"></a></li>
                </ul>
        </div>
     
        {% endfor %} #}
  
{# <p>Total Price: {{total}} €</p> #}

{% endblock %}
