{% extends 'base.html.twig' %} 

{% block title %}
    <title>
        Sign Up
    </title>
{% endblock %} 

{% block content %}
<div class="row">
    <div class="mx-auto col-md-6">
        <h1>Suscribe</h1>
        {{form_start(form)}} {{form_widget(form)}}
        <button type="submit" class="btn btn-info" id="btn-sign">Inscription</button>
        {{form_end(form)}}
    </div>
</div>

{% endblock %}